/* I got my color palette here: https://www.color-hex.com/color-palette/14797 */
/* I got my free sprite here: https://0x72.itch.io/16x16-pirates-tileset */
/* here is my piskel gallery, I used it to animate the sprites
  https://www.piskelapp.com/user/5514338056536064/public
  Reference for fixing the walking issue:
  http://digipiph.com/blog/creating-sprite-character-movement-javascript-and-jquery-ver-10
*/

/* helper  classes */
.hidden-element {
  position: absolute;
  left: -10000px;
}

/* General */
@font-face {
  font-family: PirateKing;
  src: url('assets/fonts/KING-OF-PIRATE.otf');
}

@font-face {
  font-family: CaptainTable;
  src: url('assets/fonts/CAPTT.ttf');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: normal 1em/1.25em 'Roboto Slab', serif;
}

.pure-g [class*=pure-u] {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pirata One', cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

div,
section,
main {
  text-align: center;
}

ul {
  padding: 0;
}

li{
  list-style: none;
  margin-right: 20px;
  text-align: left;
}

h2{
  font-size: 3em;
}

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.round {
  border-radius: 50%;
}

.pirate_desc {
  padding: 0 20px;
}

.char,
.item {
  margin-bottom: 25px;
}

.character-image,
.item-image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}


/* Key Frames */

@keyframes down-low {
  from {
    left: 100%;
    opacity:1;
  }
  to {
    left: 0%;
    opacity:1;
  }
}

@-webkit-keyframes down-low {
  from {
    left: 100%;
    opacity:1;
  }
  to {
    left: 0%;
    opacity:1;
  }
}

@-moz-keyframes down-low {
  from {
    left: 100%;
    opacity:1;
  }
  to {
    left: 0%;
    opacity:1;
  }
}

@keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes turntable {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes turntable {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes turntable {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* tone arm animation for the music box */
@keyframes tonearm {
  0%, 100%{
    transform: rotate(0deg);
  }

  1%, 99% {
    transform: rotate(15deg);
  }
}

@-webkit-keyframes tonearm {
  0%, 100%{
    transform: rotate(0deg);
  }

  1%, 99% {
    transform: rotate(15deg);
  }
}

@-moz-keyframes tonearm {
  0%, 100%{
    transform: rotate(0deg);
  }

  1%, 99% {
    transform: rotate(15deg);
  }
}
/*
  reference for generating gradients
  https://uigradients.com/#Starfall
  https://uigradients.com/#Shore
*/
@keyframes bg-animation {
  0%, 100% {
    background-color: #1c8bc1;
  }
  30% {
    background-color: #70e1f5;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  90% {
    background-color: #F0C27B;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@-webkit-keyframes bg-animation {
  0%, 100% {
    background-color: #1c8bc1;
  }
  30% {
    background-color: #70e1f5;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  90% {
    background-color: #F0C27B;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@-moz-keyframes bg-animation {
  0%, 100% {
    background-color: #1c8bc1;
  }
  30% {
    background-color: #70e1f5;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  90% {
    background-color: #F0C27B;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulsing {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@-moz-keyframes pulsing {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes attack {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 3876px;
  }
}

@-webkit-keyframes attack {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 3876px;
  }
}

@-moz-keyframes attack {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 3876px;
  }
}

@keyframes jump {
  0%,100%{
    top: calc(100% - 200px);
  }
  50% {
    top: 30%;
  }
}

@-webkit-keyframes jump {
  0%,100%{
    top: calc(100% - 200px);
  }
  50% {
    top: 30%;
  }
}

@-moz-keyframes jump {
  0%,100%{
    top: calc(100% - 100px);
  }
  50% {
    top: 30%;
  }
}

@keyframes wobble {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@-moz-keyframes wobble {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@-webkit-keyframes wobble {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

@keyframes collapse {
  from  {
    transform: rotate(0deg);
  }

  to  {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes collapse {
  from  {
    transform: rotate(0deg);
  }

  to  {
    transform: rotate(90deg);
  }
}

@-moz-keyframes collapse {
  from  {
    transform: rotate(0deg);
  }

  to  {
    transform: rotate(90deg);
  }
}

@keyframes weapon-rotate {
  from{
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@-webkit-keyframes weapon-rotate {
  from{
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@-moz-keyframes weapon-rotate {
  from{
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes empty-mug {
  from {
    background-position: 0px;
  }
  to{
    background-position: 1600px;
  }
}

@-webkit-keyframes empty-mug {
  from {
    background-position: 0px;
  }
  to{
    background-position: 1600px;
  }
}

@-moz-keyframes empty-mug {
  from {
    background-position: 0px;
  }
  to{
    background-position: 1600px;
  }
}

@keyframes flag-switch {
  from {
    background-position: 400px;
  }
  to {
    background-position: 0px;
  }
}

@-webkit-keyframes flag-switch {
  from {
    background-position: 400px;
  }
  to {
    background-position: 0px;
  }
}

@-moz-keyframes flag-switch {
  from {
    background-position: 400px;
  }
  to {
    background-position: 0px;
  }
}

/* Header */
.navbar {
  justify-content: space-between;
}

.navbar nav {
  padding: 20px 0;
}

header {
  background-color: #1c8bc1;
}

#menu li {
  display: inline-block;
}

#menu li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #ddd417;
}

header {
  padding: 10px 0;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
}

header.sticky {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 100;
  height: 70px;
}

header.sticky img {
  width: 75%;
}

/* Slideshow */
#css-slideshow {
  background: #760a0a;
}

#slideArea {
  height: 450px;
  position: relative;
}

.lyrics {
  position: relative;
}

#lyrics-1{
  animation: down-low 2s linear 1 forwards;
  animation-delay: 0s;
  -webkit-animation: down-low 2s linear 1 forwards;
  -webkit-animation-delay: 0s;
  -moz-animation: down-low 2s linear 1 forwards;
  -moz-animation-delay: 0s;
  width: 100%;
}

#lyrics-2{
  opacity: 0;
  margin-top: 20px;
  animation: down-low 2s linear 1 forwards;
  animation-delay: 2.5s;
  -webkit-animation: down-low 2s linear 1 forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation: down-low 2s linear 1 forwards;
  -moz-animation-delay: 2.5s;
  width: 100%;
}

#lyrics-3{
  width: 100%;
  text-align: center;
}

#lyrics-3 h2 {
  margin: 50px 0;
  opacity: 0;
}

#lyrics-3 h2:nth-of-type(1) {
  animation:  appear 1s linear 1 forwards;
  animation-delay: 5s;
  -webkit-animation:  appear 1s linear 1 forwards;
  -webkit-animation-delay: 5s;
  -moz-animation:appear 1s linear 1 forwards;
  -moz-animation-delay: 5s;
}

#lyrics-3 h2:nth-of-type(2) {
  animation: appear 1s linear 1 forwards;
  animation-delay: 5.5s;
  -webkit-animation:appear 1s linear 1 forwards;
  -webkit-animation-delay: 5.5s;
  -moz-animation:appear 1s linear 1 forwards;
  -moz-animation-delay: 5.5s;
}

#lyrics-3 h2:nth-of-type(3) {
  animation:appear 1s linear 1 forwards;
  animation-delay: 6s;
  -webkit-animation:appear 1s linear 1 forwards;
  -webkit-animation-delay: 6s;
  -moz-animation:appear 1s linear 1 forwards;
  -moz-animation-delay: 6s;
}

#lyrics-3 h2:nth-of-type(4) {
  animation:appear 1s linear 1 forwards;
  animation-delay: 6.5s;
  -webkit-animation:appear 1s linear 1 forwards;
  -webkit-animation-delay: 6.5s, 8s;
  -moz-animation:appear 1s linear 1 forwards;
  -moz-animation-delay: 6.5s;
}

/* Characters */

.pirate_title {
  font-size: 2.7em;
}

#characters {
  background-color: #5e2a0e;
  color: #fff;
}

.pirate-crew.character-image {
 background-image: url(assets/sprites/characters/crew/pirate-idle.png);
}

.pirate-captain.character-image {
  background-image: url(assets/sprites/characters/captain/captain-4-attack.png);
  height: 200px;
  width: calc(3876px/12);
  background-position: left center;
  background-size: auto;
  background-repeat: inherit;
  margin: inherit;
}

.landlubber.character-image {
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
 background-image: url(assets/sprites/characters/landlubber/landlubber.png);
}

#animate_pirate .character-image {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}

#animate_pirate:hover .character-image {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
}

#animate_captain:hover .character-image{
  animation: attack 0.6s steps(12) 1;
  -webkit-animation: attack 0.6s steps(12) 1;
  -moz-animation: attack 0.6s steps(12) 1;
}

#animate_landlubber:hover .character-image {
  animation: collapse 0.5s 1 normal ease-in-out forwards;
  -webkit-animation: collapse 0.5s 1 normal ease-in-out forwards;
  -moz-animation: collapse 0.5s 1 normal ease-in-out forwards;
}


/* Items */

.item_title{
  font-size: 2em;
}

#cutlass .item-image {
  background-image: url(assets/sprites/props/cutlass.png);
}

#pistol .item-image {
  background-image: url(assets/sprites/props/flintlock-pistol.png);
}

#shotgun .item-image {
  background-image: url(assets/sprites/props/blunderbuss.png);
}

#cannon .item-image {
  background-image: url(assets/sprites/props/cannon.png);
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
}

#gold .item-image {
  background-image: url(assets/sprites/props/pieces-of-eight.png);
}

#chest .item-image {
  background-image: url(assets/sprites/props/treasure-chest.png);
  transition: all 1s ease-in-out
  -webkit-transition: all 1s ease-in-out
  -moz-transition: all 1s ease-in-out
}

#flag .item-image,
#ale .item-image {
  background-position: left center;
  background-size: auto;
  background-repeat: inherit;
  margin: inherit;
  margin: 0 auto;
}

#flag .item-image {
  background-image: url(assets/sprites/props/jolly-roger-v2.png);
  height: 178px;
  width: calc(400px/2);
  background-position: right center;
}

#ale .item-image {
  background-image: url(assets/sprites/props/AleV2.png);
  height: 200px;
  width: calc(1600px/8);
}

#cutlass:hover .item-image,
#pistol:hover .item-image,
#shotgun:hover .item-image {
  animation: weapon-rotate 0.3s 1 normal ease-in forwards;
  -webkit-animation: weapon-rotate 0.3s 1 normal ease-in forwards;
  -moz-animation: weapon-rotate 0.3s 1 normal ease-in forwards;
}

#gold:hover .item-image {
  animation: wobble 0.3s infinite normal;
  -webkit-animation: wobble 0.3s infinite normal;
  -moz-animation: wobble 0.3s infinite normal;
}

#cannon:hover .item-image,
#chest:hover .item-image {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

#flag:hover .item-image {
  animation: flag-switch 0.5s steps(2) 1;
  -webkit-animation: flag-switch 0.5s steps(2) 1;
  -moz-animation: flag-switch 0.5s steps(2) 1;
}

#ale:hover .item-image {
  animation: empty-mug 0.8s steps(8) reverse 1;
  -webkit-animation: empty-mug 0.8s steps(8) reverse 1;
  -moz-animation: empty-mug 0.8s steps(8) reverse 1;
}



/* Music Box */
#music-box {
  background-image: url('assets/sprites/props/pirate-island.png');
  background-color: #1c8bc1;
  background-size: auto;
  background-position: bottom left;
  background-repeat: no-repeat;
}

#music-box.play {
  -webkit-animation: bg-animation 5s infinite alternate-reverse ease-in-out 1.5s;
  -moz-animation: bg-animation 5s infinite alternate-reverse ease-in-out 1.5s;
  animation: bg-animation 5s infinite alternate-reverse ease-in-out 1.5s;
}

#disc {
  background: #1e1e1e;
  padding: 20px 0;
  border-radius: 20px;
  border: 10px groove #5e2a0e;
  position: relative;
}

#tone-arm {
  width: 15px;
  height: 200px;
  border-radius: 20px;
  background-color: #eee;
  border: 5px solid #dedede;
  position: absolute;
  right: 20px;
  z-index: 1;
  transform-origin: top;
}

#tone-arm.play {
 -webkit-animation: tonearm 93s 1 normal ease-in-out;
 -moz-animation: tonearm 93s 1 normal ease-in-out;
 animation: tonearm 93s 1 normal ease-in-out;
}

#counterbalance {
    background: #333;
    width: 40px;
    height: 30px;
    left: -16px;
    position: absolute;
    border-radius: 5px;
    border: #aaa 2px outset;
}

#cartridge {
    position: absolute;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background-color: #aaa;
    bottom: 0;
    right: 0;
    border: 2px groove #bbb;
}

#trackList {
  text-align: center;
}

#lp-outer {
  -webkit-animation: turntable 15s infinite normal linear paused;
  -moz-animation: turntable 15s infinite normal linear paused;
  animation: turntable 15s infinite normal linear paused;
}

#lp-outer.play {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}

#lp-inner,
#lp-hole,
#album-art {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#lp-wrap{
  width: 400px;
  height: auto;
  margin: auto;
}

#lp-outer {
  width: 400px;
  height: 400px;
  background-color: #333;
  border: 1px solid #000;
  position: relative;
  margin: 0 auto;
}

#lp-inner {
width: 370px;
height: 370px;
background-color: #444;
}

#lp-hole {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 20px double #333;
}

#album-art {
  width: 210px;
  height: 210px;
  border: 5px outset #2e2e2e;
  background-image: url(assets/album-art/alestorm.jpg);
  background-position: center;
  background-size: cover;
}

#playList {
  z-index: 1; /* to prevent the edges of turntable from covering the controls*/
  margin-bottom: 20px;
}

.btn-controls {
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #5e2a0e;
  color: 	#ddd417;
}

.speakers {
  width: 250px;
  height: 350px;
  background-color: #333;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #5e2a0e;
}

.speakers.left {
    border-radius: 50% 25% 25%;
}

.speakers.right {
    border-radius: 25% 50% 25% 25%;
}

.tweeter {
  width: 75px;
  height: 75px;
  background: #eee;
  border: 50px double #444;
  margin-bottom: 1em;
}

.woofer {
  width: 150px;
  height: 150px;
  background: #efefef;
  border: 51px dashed #444;
}

.woofer.pulse {
  animation-name: pulsing;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

[id^="speaker"] {
  margin: auto;
}

#speaker-left {
  order: -1;
}

/* Demo */
#demo {
  background-color: #ddd417;
}

#playArena{
  height: 600px;
  position: relative;
}

#sidebar-container {
  background-color: #1c8bc1;
  padding: 20px;
  border: 3px solid #000;
}

.captain {
  height: 200px;
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
  width: calc(3876px/12);
  background-position: left center;
  background-size: auto;
  background-repeat: no-repeat;
  margin: inherit;
  position: absolute;
  top: calc(100% - 200px);
}

.captain.attack {
  animation: attack 0.6s steps(12) 1;
  -webkit-animation: attack 0.6s steps(12) 1;
  -moz-animation: attack 0.6s steps(12) 1;
  background-repeat: inherit;
  background-image: url(assets/sprites/characters/captain/captain-4-attack.png);
}

.captain.jump {
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
  animation: jump 0.8s linear alternate-reverse;
  -webkit-animation: jump 0.8s linear alternate-reverse;
  -moz-animation: jump 0.8s linear alternate-reverse;
}

.captain.left {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
}

.captain.right {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
}

/* about */

#about {
  background-color: #1c8bc1;
}

/* footer */

footer {
  background-color: #000000;
  color: #fff;
}
